<div class="sub-header">
  <h2>This is your {{deck.title}} deck</h2>
  <a href="/{{deck._id}}/test">
    <button type="button" name="button">Start Test!</button>
  </a>
</div>

{{#deck.test}}
<div class="cardLayout-wrapper">
  The _id of the question in the array {{_id}}
  <div class="card">
    <div class="question">
      <strong>Question: </strong> {{question}}
    </div>
    <hr>
    <div class="answer">
        <strong>Your Answer: </strong> <input type="text" name="" value="">
        <button class="checkAnswer"type="submit" name="button">Show Answer</button>
    </div>
    <div class="actualAnswer">

    </div>
  </div>
</div>
{{/deck.test}}
<button type="submit" name="button">Grade the test!</button>
